@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.sectionFive{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 100px 10%;
    background-color: rgb(2, 44, 2);
    color: white;
    gap: 100px;
}

.sectionFive img{
   width: 200px; 
}

.myUl li{
    display: block;
    list-style: none;
    font-size: 16px;
    padding-bottom: 10px;
    cursor: pointer;
}

.myUl li:hover{
    color: rgb(137, 233, 195);
}

.icons{
    font-size: 30px;
    padding-right: 20px;
    cursor: pointer;
}

.icons:hover{
    color: rgb(137, 233, 195); 
}

@media only screen and (min-width:321px) and (max-width:768px){
    .sectionFive{
        display: grid;
        grid-template-columns:1fr;
        padding: 100px 8%;
        background-color: rgb(2, 44, 2);
        color: white;
        gap: 50px;
    }

}