@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.sectionOne{
    padding: 130px 5%;
    gap: 30px;
    background-image: url(images/r1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
    animation: changeBackground 10s linear infinite;
}



.sectionOne::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}


@keyframes changeBackground {
    0% {
        background-image: url(images/r2.jpg);
    }
    50% {
        background-image: url(images/r1.jpg);
    }
    100% {
        background-image: url(images/r2.jpg);
    }
  }


.sectionOneDiv{
    isolation: isolate;
    text-align: left;
    padding: 200px 5%;
}

.sectionOneDiv p, h3{
    isolation: isolate;
    color: white;
}

.sectionOneDiv h3{
    font-size: 80px;
    font-family: 'Kanit', sans-serif;
    line-height: 80px;
    padding-bottom: 20px;
}

.sectionOneDiv p{
    font-size: 15px;
    width: 50%;
}

.sectionOneDiv button{
    font-size: 15px;
    background-color: rgb(177, 233, 177);
    color: black;
    padding: 15px 50px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
}


.sectionOneDiv button:hover{
    background-color: rgb(156, 199, 156);
    color: black;
    transition: all ease 0.2s;
}


.testimony{
    position: absolute;
    background-color: aliceblue;
    width: 500px;
    height: 450px;
    overflow: scroll;
    top: 250px;
    right: 150px;
    padding: 40px 50px;
}

.testDiv{
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.testDiv img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* ================ main ================= */
@media only screen and (min-width:320px) and (max-width:768px){
    .sectionOne{
        padding: 10px 8%;
        height: 80vh;
    }
    
    
    
    .sectionOne::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    

    
    .sectionOneDiv{
        isolation: isolate;
        padding: 30px 0;
        text-align: left;
    }
    
    .sectionOneDiv p, h3{
        isolation: isolate;
        color: white;
    }
    
    .sectionOneDiv h3{
        font-size: 30px;
        font-family: 'Kanit', sans-serif;
        line-height: 30px;
        padding-bottom: 10px;
        text-align: left;
    }
    
    .sectionOneDiv p{
        font-size: 11px;
        text-align: left;
        width: 100%;
    }
    
    .sectionOneDiv button{
        font-size: 12px;
        margin-top: 10px;
        text-align: left;
        padding: 10px 30px;
    }
    
    
    .sectionOneDiv button:hover{
        background-color: rgb(156, 199, 156);
        color: black;
        transition: all ease 0.2s;
    }

    .testimony{
        display: flex;
        margin: auto;
        justify-content: center;    
        position: absolute;
        background-color: aliceblue;
        width: 90%;
        height: 250px;
        overflow: scroll;
        top: 50%;
        left: 0;
        right: 0;
        padding: 20px;
        border-radius: 10px;
    }

    .testDiv{
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .imDiv{
        border-radius: 50%;
        width: 100%;
    }

    .testDiv img{
        width: 40px;
        height: 40px;
    }


    .testimony {
        font-size: 13px;
        border-bottom: 1px gray solid;
    }

    .testimony h2{
        font-size: 15px;
    }

    .testDiv p{
        font-size: 10px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1023px) {
    
}